@import "variables";
@import "borders";

.react-modal-class {
    width: 500px;
    margin: 100px 400px ;
}

.pagination a {
    cursor: pointer;
}

.imagePreview {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.standardImage {
    width: 200px;
    height: 200px;
    margin: 10px;
}
